.container-1{
    border: solid black 1px;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.flex-box-container-1{
    border: solid black 2px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.flex-box-container-1 div{
    padding: 5px;
    border: solid black 1px;
    align-items: center;
}

.container-2{
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-2,.flex-box-rps{
    display: flex;
    padding-right: 10px;
    padding-top: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-box-container-2 img{
    
    height: 200px;
    width: 200px;
    padding: 5px;
}

.container-3{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-rps img{
    
    height: 200px;
    width: 200px;
    padding: 5px;
}

.flex-box-rps img:hover{
    box-shadow: 5px 10px 50px blue; 
}

.container-4{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-pick-color{
    display: flex;
    padding-right: 10px;
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-box-pick-color button{
    padding-right: 10px;
    padding-top: 5px;
}

#change-my-color{
    border: 1px solid black;
}

